body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.bingocard {
  display: table;
  background: red;
  width: 500px;
  text-align: center;
  vertical-align: center;
  margin-bottom: 40px;
}

#cardtemplate  {
  visibility: hidden;
  display: none;
}

.bingocard .bingocardFooter {
  display: table-header-group;
}

.bingocard .bingocardFooter div {
  position: absolute;
  width: 500px;
  background: red;
  color: white;
}

.bingocard .bingocardHeader {
  display: table-header-group;
}

.bingocard .bingocardHeader div {
  position:relative;
  display: table-cell;
  padding: 8px;
  border: 0.5px solid black;
  color: white;
  text-decoration-color: whitesmoke;
}

.bingocard .bingocardRow {
  display: table-row;
}

.bingocard .bingocardRow div {
  display: table-cell;
  background: white;
  padding: 8px;
  border-bottom: 0.5px solid black;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}
